<label class="custom-checkbox-wrapper" [class.is-disabled]="disabled" [for]="id">
  <input
    type="checkbox"
    [id]="id"
    [checked]="checked"
    [disabled]="disabled"
    (change)="toggle()"
    class="custom-checkbox-native"
  />
  <span class="custom-checkbox-box" [class.is-checked]="checked">
    <svg class="custom-checkbox-check" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M3.5 8.5L6.5 11.5L12.5 4.5"
        stroke="currentColor"
        stroke-width="2.2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </span>
  @if (label) {
    <span class="custom-checkbox-label">{{ label }}</span>
  }
</label>
